$inuit-enable-responsive-margins:                   true !default;
$inuit-enable-responsive-margins--tiny:             true !default;
$inuit-enable-responsive-margins--small:            true !default;
$inuit-enable-responsive-margins--large:            true !default;
$inuit-enable-responsive-margins--huge:             true !default;
$inuit-enable-responsive-margins--negative:         true !default;
$inuit-enable-responsive-margins--negative-tiny:    true !default;
$inuit-enable-responsive-margins--negative-small:   true !default;
$inuit-enable-responsive-margins--negative-large:   true !default;
$inuit-enable-responsive-margins--negative-huge:    true !default;
$inuit-enable-responsive-margins--none:             true !default;
$inuit-enable-responsive-paddings:                  true !default;
$inuit-enable-responsive-paddings--tiny:            true !default;
$inuit-enable-responsive-paddings--small:           true !default;
$inuit-enable-responsive-paddings--large:           true !default;
$inuit-enable-responsive-paddings--huge:            true !default;
$inuit-enable-responsive-paddings--none:            true !default;
