$inuit-box-namespace:       $inuit-namespace !default;
$inuit-box-padding:         $inuit-base-spacing-unit !default;
$inuit-box-padding--tiny:     quarter($inuit-box-padding) !default;
$inuit-box-padding--small:      halve($inuit-box-padding) !default;
$inuit-box-padding--large:     double($inuit-box-padding) !default;
$inuit-box-padding--huge:   quadruple($inuit-box-padding) !default;
$inuit-enable-box--flush:   true !default;
$inuit-enable-box--tiny:    true !default;
$inuit-enable-box--small:   true !default;
$inuit-enable-box--large:   true !default;
$inuit-enable-box--huge:    true !default;
