$inuit-layout-namespace:        $inuit-namespace !default;
$inuit-layout-gutter:           $inuit-base-spacing-unit !default;
$inuit-layout-gutter--tiny:       quarter($inuit-layout-gutter) !default;
$inuit-layout-gutter--small:        halve($inuit-layout-gutter) !default;
$inuit-layout-gutter--large:       double($inuit-layout-gutter) !default;
$inuit-layout-gutter--huge:     quadruple($inuit-layout-gutter) !default;
$inuit-enable-layout--tiny:     true !default;
$inuit-enable-layout--small:    true !default;
$inuit-enable-layout--large:    true !default;
$inuit-enable-layout--huge:     true !default;
$inuit-enable-layout--flush:    true !default;
$inuit-enable-layout--rev:      true !default;
$inuit-enable-layout--middle:   true !default;
$inuit-enable-layout--bottom:   true !default;
$inuit-enable-layout--right:    true !default;
$inuit-enable-layout--center:   true !default;
$inuit-enable-layout--auto:     true !default;
$inuit-global-border-box: false !default;
