$inuit-spacing-namespace:               $inuit-namespace !default;
$inuit-margin:                          $inuit-base-spacing-unit !default;
$inuit-padding:                         $inuit-base-spacing-unit !default;
$inuit-enable-margins:                  true !default;
$inuit-enable-margins--tiny:            true !default;
$inuit-enable-margins--small:           true !default;
$inuit-enable-margins--large:           true !default;
$inuit-enable-margins--huge:            true !default;
$inuit-enable-margins--negative:        true !default;
$inuit-enable-margins--negative-tiny:   true !default;
$inuit-enable-margins--negative-small:  true !default;
$inuit-enable-margins--negative-large:  true !default;
$inuit-enable-margins--negative-huge:   true !default;
$inuit-enable-margins--none:            true !default;
$inuit-enable-paddings:                 true !default;
$inuit-enable-paddings--tiny:           true !default;
$inuit-enable-paddings--small:          true !default;
$inuit-enable-paddings--large:          true !default;
$inuit-enable-paddings--huge:           true !default;
$inuit-enable-paddings--none:           true !default;
